body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    flex-direction: column;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

.headnhero{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    padding-right: 120px;
    padding-left: 120px;
    flex: 1;
    gap: 100px;
}

.header{
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;

}

.headerlogo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.links{
    display: flex;
    gap: 15px;
}

.links a{
    color: #E5E7EB;
}

.hero{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:10px;
    justify-content: center;
}

.maintext{
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
    
}

.subtext{
    font-size: 18px;
    color: #E5E7EB;
    font-style: italic;

}

.viewprojects{
    padding:10px;
    border-radius: 8px;
    color:#F9FAF8;
    background-color: #3882F6;
    border-color: black;
    border: none;
    outline: none;
    box-shadow: none;
    max-width: max-content;

}

.textnimg{
    display: flex;
    justify-content: space-between
}

.rockimg1 img{
    max-width: 100%;
    max-height:200px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
    gap: 15px;
    padding-top:25px;
    padding-bottom:50px;
}

.contenthead{
    font-size: 36px;
    color:#1F2937;
    font-weight: 900;
}

.mobs{
    display: flex;
    gap: 10px;
}

.mob img{
    max-width: 100%;
    max-height: 150px;
    border: solid 7px #3882F6;
    border-radius: 10px;
}  

.desc{
    color: black;
    font-size: 18px;;
}

.quotearea{
    display: flex;
    background-color: #E5E7EB;
    justify-content: flex-start;
    align-items: center; 
    flex: 1;
    flex-direction: column;
    padding: 100px;
    margin: auto;

    
}

.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color:#1F2937;

}

.by{
    align-self: flex-end;
    font-weight: bold;
    font-size: 23px;
}

.conbutwrapcont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left:100px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 30px;


}

.conbutwrap{
    display: flex;
    background-color:#3882F6;
    border-radius: 8px;
    padding-right: 80px;
    padding-left: 80px;
    padding-bottom: 30px;
    padding-top: 30px;
    gap: 30px;
    flex: 1;
    justify-content: center;
}

.contactwrap{
    display: flex;
    flex-direction: column;
    background-color: #3882F6;
    border-radius: 8px;
    column-gap: 10px;
}

.contactmebut{
    padding:10px;
    border-radius: 8px;
    color:#F9FAF8;
    background-color: #3882F6;
    border-color: black;
    border: solid 4px #F9FAF8;
    outline: none;
    box-shadow: none;
    max-width: max-content;

}

.contactsubtext{
    color: #E5E7EB;
    font-size: 14px;
}

.contactme{
    color: #F9FAF8;
    font-weight: bold;
    font-size: 20px;
}

.footer{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    flex-wrap: wrap;
}